@{
    ViewData["Title"] = "Login";
}

<div class="container" style="background-color: white;">
    <h1 class="display-4 text-center">Star Tracker</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register" />
        </div>
        <div class="col-md">
            <partial name="_Login" />
        </div>
    </div>
</div>
